@using System.Globalization
@using FootballBet.Client.Services
@using FootballBet.Shared.Models.Stats
@inject IStatsService StatsService;

<RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1" Class="my-4">
    Radzen Blazor Chart with line series
</RadzenText>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 my-5">
                <RadzenCard Class="w-100 mb-4" Style="display: flex; align-items: center; gap: 0.5rem" >
                    <RadzenCheckBox @bind-Value="@smooth" Name="smooth"></RadzenCheckBox>
                    <RadzenLabel Text="Smooth" For="smooth" Style="margin-right: 1rem;"/>
                    <RadzenCheckBox @bind-Value="@showDataLabels" Name="dataLabels"></RadzenCheckBox>
                    <RadzenLabel Text="Show Data Labels" For="dataLabels" />
                </RadzenCard>
                <RadzenChart>
                    @foreach (var user in _userData)
                    {
                        <RadzenLineSeries Smooth="@smooth" Data="@user.Wins" CategoryProperty="Date" Title="@user.Username" LineType="LineType.Solid" ValueProperty="Amount">
                            <RadzenMarkers MarkerType="MarkerType.Square"/>
                            <RadzenSeriesDataLabels Visible="@showDataLabels"/>
                        </RadzenLineSeries>    
                    }
                    <RadzenCategoryAxis Padding="20"/>
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true"/>
                        <RadzenAxisTitle Text="Revenue in USD"/>
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
        </div>
    </div>
@code {
    bool smooth = false;
    bool showDataLabels = false;
    [Parameter]
    public string GroupId { get; set; }
    private IEnumerable<UserData> _userData = new List<UserData>();

    protected override async Task OnInitializedAsync()
    {
        var chartResponse = await StatsService.GetChartStats(GroupId);
        _userData = chartResponse.UserData;
        await base.OnInitializedAsync();
    }

}