@using FootballBet.Shared.Models.Match
@using FootballBet.Shared.Models.Odds
@using FootballBet.Client.Services
@using NuGet.Common
@inject IOddsService OddsService;
@inject IDialogService DialogService
<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>
<MudPaper Elevation="2" Style="margin-top: 10px">
    <MudExpansionPanel @bind-IsExpanded="_isOpen" HideIcon="true">
        <TitleContent>
            <MudGrid>
                <MudItem xs="3" Style="display: flex; flex-direction: column; justify-content: center; align-items: center">
                    <MudText>@MatchData.HomeTeamName</MudText>
                    <MudImage Src="@MatchData.HomeTeamLogo" Width="Width" Height="Height"></MudImage>
                </MudItem>
                <MudItem xs="6" Style="display: flex; justify-content: center; align-items: center">
                    <MudItem style="display: block">
                        <MudText Style="text-align: center">@MatchData.Date.ToString("H:mm")</MudText>
                        <MudText Style="text-align: center">@MatchData.HomeCurrentGoals - @MatchData.AwayCurrentGoals</MudText>
                    </MudItem>
                </MudItem>
                <MudItem xs="3" Style="display: flex; flex-direction: column; justify-content: center; align-items: center">
                    <MudText>@MatchData.AwayTeamName</MudText>
                    <MudImage Src="@MatchData.AwayTeamLogo" Width="Width" Height="Height"></MudImage>
                </MudItem>
            </MudGrid>
        </TitleContent>
        <ChildContent>
            <MudText Style="padding-top: 10px">@(MatchData.MatchStatus)</MudText>
            <MudSimpleTable Style="overflow-x: auto;">

                <MudText Typo="Typo.h5">Odds</MudText>
                <MudExpansionPanels>
                    <MudExpansionPanel Text="Home">
                        <thead>
                        <tr>
                            <th>Score</th>
                            <th>Odds</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var row in _homeOdds)
                        {
                            <tr>
                                <td>@row.HomeTeamGoals - @row.AwayTeamGoals</td>
                                <td @onclick="() => OpenDialog(row)" style="@($"background:{_theme.PaletteDark.Secondary};")">@row.Odds</td>
                            </tr>
                        }
                        </tbody>
                    </MudExpansionPanel>
                    <MudExpansionPanel Text="Draw">
                        <thead>
                        <tr>
                            <th>Score</th>
                            <th>Odds</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var row in _drawOdds)
                        {
                            <tr>
                                <td>@row.HomeTeamGoals - @row.AwayTeamGoals</td>
                                <td>@row.Odds</td>
                            </tr>
                        }
                        </tbody>
                    </MudExpansionPanel>
                    <MudExpansionPanel Text="Away">
                        <thead>
                        <tr>
                            <th>Home Goals</th>
                            <th>Away Goals</th>
                            <th>Odds</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var row in _homeOdds)
                        {
                            <tr>
                                <td>@row.HomeTeamGoals</td>
                                <td>@row.AwayTeamGoals</td>
                                <td>@row.Odds</td>
                            </tr>
                        }
                        </tbody>
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </MudSimpleTable>
        </ChildContent>
    </MudExpansionPanel>
</MudPaper>

@code {

    private bool _isOpen;

    private bool _toggleBetDialog;
    private OddsDto _selectedOdds;

    private void OpenDialog(OddsDto odds)
    {
        var parameters = new DialogParameters { { "Odds", odds } };
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<BetDialog>( "Place bet", parameters, options);
    }

    [Parameter]
    public MatchDto MatchData { get; set; }

    private IEnumerable<OddsDto>? _odds;
    private IEnumerable<OddsDto>? _homeOdds;
    private IEnumerable<OddsDto>? _awayOdds;
    private IEnumerable<OddsDto>? _drawOdds;

    private static int Width => 50;
    private int Height => 50;
    private bool _isDarkMode = true;
    private readonly MudTheme _theme = new();
    private bool _isFirst = true;

    protected override async Task OnInitializedAsync()
    {
        _odds = (await OddsService.GetOdds(MatchData.MatchId) ?? Array.Empty<OddsDto>()).ToList();
        _homeOdds = _odds.Where(o => o.MatchWinner == MatchWinnerEnumDto.Home).ToList();
        _awayOdds = _odds.Where(o => o.MatchWinner == MatchWinnerEnumDto.Away).ToList();
        _drawOdds = _odds.Where(o => o.MatchWinner == MatchWinnerEnumDto.Draw).ToList();
        await base.OnInitializedAsync();
    }

}