@using FootballBet.Shared.Models.Bets


<MudSimpleTable Style="display: flex; flex-direction: row">
    <thead>
        <tr>
            <th>Nickname</th>
            <th>Potential base win</th>
            <th>Potential win</th>
            <th>Bet</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bet in UserBets)
        {
            <tr>
                <td>@($"{bet?.Nickname}")</td>
                <td>@bet.BetDto.PotentialBaseWin</td>
                <td>@bet.BetDto.PotentialWin</td>
                <td>@bet.BetDto.HomeGoals - @bet.BetDto.AwayGoals</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>


@code {

    [Parameter]
    public List<GroupVisibleBetDto>? UserBets { get; set; }

}